In [1]:
import pandas as pd

### Loading Data

In [73]:
tweets_df = pd.read_csv("/Users/jarvis/Desktop/CODE/sadrat/web_app/appdata/adrmine_tweets_with_locations.csv")
tweets_df.head()

,Unnamed: 0,id,tweet,label,latitude,longitude,label_proba
0,0,3.450000e+17,"Vyvanse, commonly known as OCD in a pill.",1,36.039524,-114.981720,1.0
1,1,3.450000e+17,@MTV When are you going to do True Life: I am ...,0,36.039524,-114.981720,0.2
2,2,3.420000e+17,NEW post: how did my weekend go? What is anasa...,0,33.448376,-112.074036,0.0
3,3,3.510000e+17,I wonder if seroquel /then/ food still equals ...,1,36.058807,-95.869431,0.8
4,4,3.480000e+17,Rivaroxaban diary day 22. Last tablet taken Tu...,1,36.153980,-95.992775,0.6

In [59]:
X = tweets_df['tweet']
Y = tweets_df['label']

### Vectorizing

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [61]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X)

In [62]:
print(X.shape)

(121, 840)

### Train Test Split

In [63]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.1)

### Classifier Model

In [64]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier()
model = rf_clf.fit(x_train, y_train)

/Users/jarvis/venvs/sadrat/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [65]:
yhat = rf_clf.predict(x_test)

### Accuracy Score

In [66]:
from sklearn.metrics import accuracy_score

In [67]:
accuracy_score(yhat, y_test)

0.6153846153846154

In [68]:
class_proba = rf_clf.predict_proba(X)

In [69]:
prob = list()
for x in class_proba:
    prob.append(x[1])

In [70]:
tweets_df["label_proba"] = prob

In [71]:
tweets_df.head()

,id,tweet,label,latitude,longitude,label_proba
0,3.450000e+17,"Vyvanse, commonly known as OCD in a pill.",1,36.039524,-114.981720,1.0
1,3.450000e+17,@MTV When are you going to do True Life: I am ...,0,36.039524,-114.981720,0.2
2,3.420000e+17,NEW post: how did my weekend go? What is anasa...,0,33.448376,-112.074036,0.0
3,3.510000e+17,I wonder if seroquel /then/ food still equals ...,1,36.058807,-95.869431,0.8
4,3.480000e+17,Rivaroxaban diary day 22. Last tablet taken Tu...,1,36.153980,-95.992775,0.6

### Exporting Model

In [11]:
import pickle

In [12]:
with open("/Users/jarvis/Desktop/CODE/sadrat/additional resources/model.pickle", "wb") as file:
    pickle.dump(model, file)

In [14]:
with open("/Users/jarvis/Desktop/CODE/sadrat/additional resources/model.pickle", "rb") as file:
    model_unpickled = pickle.load(file)

In [15]:
type(model_unpickled)

sklearn.ensemble.forest.RandomForestClassifier

In [17]:
test_str = "Back on antibiotics and refusing to up my humira ... I keep getting UTI's (never had then before) bc the inflammation from #crohns"

In [22]:
test_str = vectorizer.fit_transform(test_str)

ValueError: Iterable over raw text documents expected, string object received.

In [72]:
tweets_df.to_csv("/Users/jarvis/Desktop/CODE/sadrat/web_app/appdata/adrmine_tweets_with_locations.csv")

In [76]:
for _,x in tweets_df.loc[tweets_df["tweet"] == "Vyvanse, commonly known as OCD in a pill."].iterrows():
    print(x.label_proba)

1.0
1.0

In [77]:
type(list())

list

In [ ]:
tweets_